[submodule "Assets/Submodules/EasierVRAssets"]
	path = Assets/Submodules/EasierVRAssets
	url = git@github.com:kimryan0416/EasierVRAssets.git
[submodule "Assets/Submodules/UnityUtils"]
	path = Assets/Submodules/UnityUtils
	url = git@github.com:SimpleDevs-AR-VR/UnityUtils.git
[submodule "Assets/Unity-Movement"]
	path = Assets/Unity-Movement
	url = https://github.com/oculus-samples/Unity-Movement.git